body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: brown;
    color: #e3a0a0;
    padding: 10px;
}
section {
    background-color: #ecbbbb;
    color: brown;
    padding: 10px;
}

#wynik {
    background-color: brown;
    color: #ecbbbb;
    padding: 10px;
}